#sobre-lado-dir {
  position: relative;
  width: 570px;
  height: 720px;
  border: solid 3px #5e5e5e;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
}
/* Esconde os botões de rádio */
#sobre-lado-dir input[type="radio"] {
  display: none;
}

.slides {
  display: flex;
  width: max-content; /* o containe vai esticar sozinho conforme o numer de slides*/
  transition: transform 0.5s ease;
}

.slide {
  width: 570px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover; /* manten a proporção e preenche*/
  object-position: center; /*centraliza a imagem dentro da área */
}

/* Controles para os slides do carrossel */

#img1:checked ~ .slides {
  transform: translateX(0);
}
/* a cada slide diminua o valor 570 */
#img2:checked ~ .slides {
  transform: translateX(-570px);
}
/* a cada slide diminua o valor 570 */
#img3:checked ~ .slides {
  transform: translateX(-1140px);
}
/* a cada slide diminua o valor 570 */
#img4:checked ~ .slides {
  transform: translateX(-1710px);
}
#img5:checked ~ .slides {
  transform: translateX(-2280px);
}
/* a cada slide diminua o valor 570 (some ao negativo) */
/*  se acrescentar mais slides  */

.navigation {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.navigation label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0f0;
  cursor: pointer;
  transition: background 0.3s;
}

#img1:checked ~ .navigation label[for="img1"],
#img2:checked ~ .navigation label[for="img2"],
#img3:checked ~ .navigation label[for="img3"],
#img4:checked ~ .navigation label[for="img4"],
#img5:checked ~ .navigation label[for="img5"] {
  background: #5e5e5e;
}
