{% load static %}

<!-- secao rodape  -->
<footer id="rodape-social">
        <div class="icon">
            <a href="https://www.facebook.com" target="_blank">
                <i class="bi bi-facebook"></i>
                <!-- <img src="{% static 'img/icone-Facebook-rodape.png'%}" alt="Facebook"> -->
            </a>

            <a href="https://www.instagram.com/" target="_blank">
                <i class="bi bi-instagram"></i>
                <!-- <img src="{% static 'img/icone-instagram-rodape.png'%}" alt="Instagram"> -->
            </a>
            
            <a href="#" target="_blank" style="text-decoration: none;">
                <i class="bi bi-youtube"></i>
                <!-- <img src="{% static 'img/icone-youtube-rodape.png'%}" alt="YouTube"> -->
            </a>

            <a href="https://wa.me/5554996743013?text=Vi teu site e gostaria de mais informações" target="_blank">
                <i class="bi bi-whatsapp"></i>
                <!-- <img src="{% static 'img/icone-whatsapp-rodape.png'%}" alt="Whatsapp"> -->
            </a>

        </div>
        <div>
            <p>COPRIGHT &#169 2025 JOSINEI SOARES. TODOS OS DIREITOS RESERVADOS</p>
        </div>
</footer>