<!-- herda partes da base.html -->
{% extends 'base.html' %}
<!-- carrega elementos da pasta static -->
{% load static %}

<!-- inicio do bloco -->
{% block content %}

<!-- seção sobre o Daniel -->
<section id="secao">
  <div id="secao-sobre">
    <div id="sobre-lado-esq">
      <h3>Conhecendo</h3>
      <h1>DJ DEXX</h1>
      <p>
        Saaaalve! Geral pronto pro set? 🎧<br />
        Seja bem-vindo ao mundo do <span style="color: #0f0">DJ Dexx</span>.
        Minha história com a música não começou em curso chique, começou na
        curtição. Sempre fui viciado em descobrir sons novos e, por influência
        do meu parceiro Tiago, decidi que não dava mais pra guardar essas faixas
        só pra mim. O começo foi no puro improviso: resenhas com os amigos,
        porões e garagens. Onde tinha uma caixa de som, eu tava lá. A galera
        começou a curtir a energia, o nome foi girando e o funk me abriu as
        primeiras portas pra valer. Hoje, me especializei no Open Format. Saco a
        dinâmica de qualquer pista, de casamentos e formaturas a aniversários
        insanos. Meu diferencial? Misturar a base pesada do Funk, a atitude do
        Rap e a energia da Música Eletrônica. Eu não só toco música, eu crio o
        clima pro seu momento ser inesquecível.
      </p>
    </div>
    <div id="sobre-lado-dir">
      {% for slide in slides %}
      <input
        type="radio"
        name="carousel"
        id="img{{ forloop.counter }}"
        {%
        if
        forloop.first
        %}checked{%
        endif
        %}
      />
      {% endfor %}

      <div class="slides">
        {% for slide in slides %}
        <div class="slide">
          <img src="{{ slide.imagem.url}}" alt="{{ slide.titulo}}" />
        </div>
        {% empty %}
        <div class="slide">
          <p style="color: white; text-align: center; padding-top: 150px">
            Nenhuma imagem carregada.
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="navigation">
        {% for slide in slides %}
        <label for="img{{ forloop.counter}}" class="manual-btn"></label>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container-botao">
    {% if presskit %}
    <a href="{{ presskit.arquivo.url }}" class="botao-presskit" download
      >DOWNLOAD LOGOS</a
    >
    {% else %}
    <a
      href="#"
      class="botao-presskit"
      style="opacity: 0.5; cursor: not-allowed"
      disabled
      >PRESSKIT (Em breve)</a
    >
    {% endif %}
  </div>
</section>

<!-- seção redes sociais -->
<div id="redesSociais">
  <div id="inf-redes">
    <h2>REDES SOCIAIS</h2>
    <p>Acompanhe-me pelas Redes Sociais</p>
  </div>
  <div id="icones-redes">
    <a href="https://www.facebook.com/daniel.silva.131168" target="_blank"
      ><img src="{% static 'img/icone-facebook-rodape.png'%}" alt="Facebook"
    /></a>
    <a href="#" target="_blank"
      ><img src="{% static 'img/icone-instagram-rodape.png'%}" alt="Instagram"
    /></a>
    <a href="#" target="_blank"
      ><img src="{% static 'img/icone-x.png'%}" alt="X"
    /></a>
    <a
      href="https://wa.me/555484160842?text=Vi teu site e gostaria de mais informações"
      target="_blank"
      ><img src="{% static 'img/icone-whatsapp-rodape.png'%}" alt="Whatsapp"
    /></a>
  </div>
</div>

<!-- seção agenda de eventos -->
<div id="secao-agenda">
  <div id="agenda-titulo">
    <h3>AGENDA DE</h3>
    <h2>EVENTOS</h2>
  </div>
  <ul id="agenda-lista">
    {% for evento in eventos_contexto %}
    <li class="campo-evento">
      <div class="inf-evento">
        <h4>{{ evento.nome_evento }}</h4>
        <h4>{{ evento.dia_evento }}</h4>
        <h4>{{ evento.nome_club }}</h4>
        <h4>{{ evento.end_evento }}</h4>
      </div>
      {% if evento.link_flayer %}
      <a class="botao-ingreco" href="{{ evento.link_flayer }}" target="_blank"
        >VER FLYER</a
      >
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

<!-- seção video -->
<div class="secao-video">
  <video id="play-video" autoplay muted loop playsinline class="video">
    {% if video_home %}
    <source src="{{ video_home.arquivo_video.url }}" type="video/mp4" />
    {% else %}
    <source src="{% static 'video/video1.mp4' %}" type="video/mp4" />
    {% endif %}
  </video>
  <div class="video-conteudo">
    <img src="{% static 'img/logoSemFundo.png'%}" alt="logo" />
    <a src="#" onclick="play(event)">OUÇA AGORA</a>
  </div>
</div>

<!-- seção de contatos -->
<section id="contatos" class="secao-contatos">
  <div id="contatos-titulo">
    <h3>CONTATO PARA</h3>
    <h2>SHOWS E EVENTOS</h2>
  </div>
  <div class="contatos-container">
    <div class="contato-coluna">
      <div class="contato-bloco">
        <h3>BALADA SHOWS ANIVERSARIOS CASAMENTOS</h3>
        <p>
          Email Profissional : <a href="#">Danik_RS@gmail.com</a><br />
          Rua Silveira Martins, xxx - Centro - Vacaria - RS<br />
          (54) 9 8416-0842
        </p>
      </div>
    </div>
  </div>
</section>

<!-- fim do bloco -->
{% endblock %}
