{% load static %}

<nav id="menu">
  <div id="menu-navegacao">
    <div id="logo">
      <a href="{% url 'home'%}"
        ><img src="{% static 'img/logo.jpg'%}" alt="LOGO"
      /></a>
    </div>

    <div id="btn-mobile" onclick="ToggleMenu(event)">
      <span id="hamburger"></span>
    </div>

    <div id="nav-links">
      <a href="{% url 'home'%}#secao">SOBRE</a>
      <a href="{% url 'home'%}#secao-agenda">EVENTOS</a>
      <a href="{% url 'home'%}#redesSociais">REDES-SOCIAIS</a>
      <a href="{% url 'home'%}#contatos">CONTATO</a>
      <a href="{% url 'galeria'%}">PRESSKIT</a>

      <a
        href="{% url 'admin:index' %}"
        class="btn-admin-login"
        title="Painel Admin"
      >
        {% if user.is_staff %} <i class="bi bi-door-open"></i> {% else %}
        <i class="bi bi-door-closed"></i> {% endif %}
      </a>
    </div>
  </div>
</nav>
